body
{font-family:"Comic Sans MS",cursive, Arial, Helvetica;
padding-left:4px;
padding-right:4px}
.menu 
{position:absolute;
left:12px;
top:126px;
line-height:30px;
width:200;}
.menu a 
{text-decoration:none;} 
.menu a:hover
{text-decoration:underline;} 
h1
{position:absolute;
top:0;
left:250px;
font-family: 'Boogaloo',"Comic Sans MS",cursive, Arial, Helvetica;
font-size:22pt;
padding-top:0;
margin-top:6px;}
h2
{position:absolute;
top:50px;
left:350px;
font-size:18pt;
font-family:  'Boogaloo', "Comic Sans MS",cursive, Arial, Helvetica;}
.mainbit
{position:absolute;
top:128px;
left:170px;
right:4px}
.mainbit a 
{text-decoration:none;} 
.mainbit a:hover
{text-decoration:underline;} 
.pic
{padding-left:6px;
padding-right:6px;}
.logo
{position:absolute;
left:4px;
top:4px;}
ul
{padding-top:0;
margin-top:4px;
padding-left:16px;
margin-left:16px;}
li
{padding-bottom:5px;
margin-bottom:5px;}

